.cntainer{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
   
}

.inner{
    width: 100px;
    height: 100px;
    background-color: black;
    
}

.maincontainer{
    background-color: aqua;
    width: 300px;
    height: 300px;
    padding: 2rem;
}

.container{
    width: 200px;
    height: 200px;
    background-color: blue;
    padding: 2rem;
}

.innercontainer{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 217);
    padding: 2rem;
}