.container{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
   
}

.inner{
    width: 100px;
    height: 100px;
    background-color: black;
    
}

